.admin-form {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.admin-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.admin-form button {
    width: 100%; /* Set button width to 100% */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-form button:hover {
    background-color: #0056b3;
}
